{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/blog.css">
    <script src="https://kit.fontawesome.com/413c7f2129.js" crossorigin="anonymous"></script>
    <title>Kassidlog</title>
</head>
<body>
    <header>
        <div class="inner">
            <div class="head-container">
                <div class="head-title"> <a href="{% url 'main' %}"><h1>Kassidlog</h1></a></div>
                <div class="head-desc"><a href="{% url 'main' %}">푸르지만 뜨겁게</a></div>
            </div>
        </div>
    </header>
    <!--Contents-->
    <div class="contents-wrap">
        <section class="main">
            <div class="main-container">
                <div class="inner">
                    <div class="title-container">
                        <div class="title">Welcome to Kassid Universe</div>
                        <div class="message">
                            Do you know me?<br/>
                            Bluish-hot Star<br/>
                            KASSID<br/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Skill-->
        <section>
            <div class="inner">
                <div class="skill-container">
                    <div class="skill-background">
                        <div class="skill">
                            <i class="fab fa-python skill-icon python-style"></i>
                            <div class="skill-title">
                                <div class="skill-name">Python</div>
                                <div class="skill-desc">크롤링, 딥러닝</div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-background">
                        <div class="skill">
                            <i class="fab fa-js skill-icon js-style"></i>
                            <div class="skill-title">
                                <div class="skill-name">JavaScript</div>
                                <div class="skill-desc">VanillaJS</div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-background">
                        <div class="skill">
                            <i class="fas fa-palette skill-icon drawing-style"></i>
                            <div class="skill-title">
                                <div class="skill-name">Drawing</div>
                                <div class="skill-desc">illust, pixelart</div>
                            </div>
                        </div>
                    </div>
                    <div class="skill-background">
                        <div class="skill">
                            <i class="fab fa-react skill-icon react-style"></i>
                            <div class="skill-title">
                                <div class="skill-name">React</div>
                                <div class="skill-desc">What I'll learn</div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </section>
        </p>
        <!--PostList-->
        <section class="postlist">
            <div class="inner">
                <div class="postlist-container">
                    <div class="post-head">
                        <a href="{% url 'post_list' %}">New Article</a>
                        <div>
                            <a href="{% url 'post_new' %}" ><i class="fas fa-plus newpost"></i></a>
                            <a href="{% url 'post_list' %}"><i class="fas fa-bars"></i></a>   
                        </div>
                    </div>                    
                    <div class="post-list">
                        {% for post in posts %}
                            <div class="post">
                                <div class="post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></div>
                                <div class="post-contents">{{ post.text|linebreaksbr }}</div>
                                <div class="post-published">published: {{ post.published_date }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <script src="js/script.js">
        
        </script>
    </div>
    <footer>

    </footer>
</body>
</html>