{% extends 'base.html' %} 

{% block content %} 
<div class="wrapper" style="text-align: center;"> 
    <div class="signup-container">
	    <div class="signup-head">SIGN UP</div>
	    <div class="signup-desc">
            <form method="POST"> 
                {% csrf_token %} 
                {{ form }}
                <label class="signup-btn">
                    <input type="submit" class="btn btn-primary" value="Sign Up">
                    <i class="fas fa-user-plus"></i>
                </label>
            </form> 
        </div>
    </div>
</div> 
{% endblock %}