@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
* {
    box-sizing: border-box;
}
*::selection{
    background:gold;
}
body {
    font-family : 'Noto Sans KR', 'sans-serif';
    margin: 0 auto;
    color:rgb(22, 22, 22);
}
h1,h2{
    font-family: 'NanumSquare', 'sans-serif';
    font: inherit;
}
a {
    all: unset;
    transition: 0.3s;
}
a:link {
    text-decoration : none;
    color:rgb(22, 22, 22);
}
a:visited {
    text-decoration : none;
    color:rgb(22, 22, 22);
}
a:active {
    text-decoration : none;
    color:rgb(22, 22, 22);
}
a:hover {
    text-decoration : none;
    color:rgb(22, 22, 22);
}
section {
    width: 100%;
    position: relative;
}
header {
    width: 100%;
    height: 40px;
    background-color: rgb(5, 5, 5);
    /* opacity: 0.95; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.content-wrap{
    margin: 0 auto;
    padding: 0 15px;
}
.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.hidden{
    overflow: hidden;
}
.head-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.head-container a:hover{
    color: rgb(0, 119, 255);
}
.head-container a{
    color: white;
    transition: 0.3s;
}
.head-container .head-title{
    font-family: 'Smooch', cursive;
    font-weight: bold;
    font-size: 1.2rem;
}
.head-container .head-desc{
    font-weight: bold;
    font-size: 1.1rem;
}
.main {
    height: 250px;
    margin: 0 auto;
    background-color: #000;
    background-image: url(../images/kassid.jpg);
    background-position: 50% -75px;
    background-size: 75%;
    background-repeat: no-repeat;
    z-index: 1;
}
.main-container{
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    opacity: 0.4;
    z-index: 2;
}
.title-container {
    height: 100%;
    padding: 20px 15px;
    padding-bottom: 0.5em;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container:hover .title{
    transform: translate(0%,-65%);
}
.title-container:hover .message{
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0.5s;
}
.title{
    font-family: 'NanumSquare';
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    transition-property: transform, opacity;
    transition-duration: 0.7s;
}
.message{
    position: absolute;
    text-align: right;
    bottom: 4%;
    right: 1.5%;
    line-height: 2rem;
    font-size: 1.4rem;
    opacity: 0;
    transition-duration: 0.3s;
}
/* Skill */

.skill-container{
    width: 100%;
    height: 70px;
    margin-top: 1.5rem;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skill-background{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: midnightblue;
    width: 20%;
    margin: 0.3rem 1rem;
    height: 100%;
    border-radius: 11px;
}
.skill{
    width: 100%;
    background: #fff;
    border-radius: 9px;
    display: flex;
    align-items: center;
    color: #332f2f;
    box-shadow: 5px 5px 15px -1px #332f2f25;
    transition-property: transform; /*container의 height 변화 X*/
    transition-duration: 0.3s;
}
.skill:hover .skill-desc{
    margin: 0.5rem 0px;
    opacity: 1;
    height: 10px;
    transition-property: height, opacity; /*height를 0으로 했다가 hover시 수치를 적용하는 방식으로 숨겼다가 보이게 하기*/
    transition-duration: 0.3s;
}
.skill:hover{
    transform: translate(0%,-7px);
    transition-property: transform;
}
.skill-title{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.skill-icon{
    margin: 0 7px;
    font-size: 2rem;
}
.skill-name{
    font-weight: bold;
}
.skill-desc{
    font-size: 0.74rem;
    opacity: 0;
    height: 0;
    transition-property: height, opacity;
    transition-duration: 0.3s, 0s;
    transition-delay: 0s, 0s;
}
.python-style{color: royalblue;}
.js-style{color: gold;}
.drawing-style{color: crimson;}
.react-style{color:turquoise}



/* Post */
.postlist {
    height: 250px;
    margin: 0 auto;
}
.postlist-container{
    padding: 0px 50px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 2;
}
.post-head{
    font-size: 1.5rem;
    text-decoration: solid;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.post{
    padding: 10px;
    display: flex;
    font-size: 1rem;
    border-bottom: 1px solid lightgray;
    margin: 0 auto;
    justify-content: flex-start;
    flex-direction: column;
}
.post-title > a{
    text-decoration :underline;
    width: 100%;
}
.post a:hover{
    border-radius: 5px;
    background-color: lightgray;
}
.post .post-title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.post .post-contents{

    text-overflow: ellipsis;
}
.post .post-published{
    display: flex;
    justify-content: flex-end;
}

.postdetail-head{
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    text-decoration: solid;
    border-bottom: 1px solid lightgray;
}
.postdetail-head i{
    color: #000;
    font-size: 1.2rem;
}
.postlist-container a{
    margin: 0px 2px ;
}
.date{ 
    text-align: right;
}

/* Edit Page */

.post-form textarea{
    font-family: 'NanumSquare';
    font-size: 15px;
    width: 100%;
    padding: 5px;
}
.post-form input{
    font-family: 'NanumSquare';
    height: 30px;
    width: 100%;
    font-size: 15px;
}
.post-form input:focus{
    outline: 2px solid blueviolet;
}
.post-form textarea:focus{
    outline: 2px solid blueviolet;
}
.save-container{
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
.save-container a{
    border-radius: 2px;
    padding: 2px;
    transition: 0.3s;
}
.save-container a:hover{
    background-color: lightgray;
}
.fa-save{
    font-size: 20px;
}
.newpost{
    transition:0.3s;
}
.newpost:hover{
    transform: rotate(180deg);
}
.fa-edit{
    font-size: 15px;
}